
@model PMHBooking.Models.Invoice

@using (Html.BeginForm("Invoice", "Invoice"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <fieldset>
        <legend>Invoice Information:</legend>
        @Html.HiddenFor(m=>m.BookingId)
        <div class="row">

            @Html.LabelFor(m => m.StringAmount, new { @class = "col-md-4 control-label" })

            <div class="col-md-6">
                @Html.TextBoxFor(m => m.StringAmount, new { @class = "form-control currency" })
                @Html.ValidationMessageFor(m => m.StringAmount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">

            @Html.LabelFor(m => m.Description, new { @class = "col-md-4 control-label" })

            <div class="col-md-6">
                @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        </fieldset>
    @*<div class="row">
        <div class="col-md-offset-8 col-md-2">
            <input type="button" id="submitInvoice" name="submitInvoice" value="Submit" class="btn btn-default" />
        </div>
    </div>*@
}


