@model PMHBooking.Models.Invoices

<ul class="icon">
    @foreach (var invoice in Model.InvoiceList)
    {
        <li>
            <div class="row">
                <div class="col-md-1">
                    <p>@invoice.Date</p>
                </div>
                <div class="col-md-7">
                    <p>@invoice.Description</p>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-1"></div>
                <div class="col-md-1">
                    <p>@invoice.StringAmount</p>
                </div>
                <div class="col-md-2">
                    <p>@invoice.State</p>
                </div>
                <div class="col-md-1">
                    <button type="button" class="invoiceButton" invoiceid="@invoice.Id">manage</button>
                </div>
            </div>
        </li>
        }
    </ul>